body {
	markin: 0;
	/* 리딩(leading) 간격을 패턴으로 배경이미지로 그림 */
	background: url("../images/leading-24.png");
	font-family: "spoqa Han Sans";
}

/* 단락(Paragraph) 디자인 */
p {
	margin: 0;
	color: #464646;
	line-height: 1.5;

}